.menu .ico .mainmenu ul li.item-search form#busqueda input[type='text'], .mainmenu ul li.inicio a:before, .mainmenu ul li.videos a:before, .mainmenu ul li.fotogaleria a:before, .wrapper-close-menu .close-menu, .siguenos ul li a, .logo, .content-twitter:after, .content-twitter:before, .single-videos div .ico-video, .single-nota.n-galeria .ver-galeria, .single-nota.n-video .ver-galeria, .ico-view, .ico-video, .ico-video-small, .ico-galeria, .wrapper-shares-comments:before, .wrapper-shares-comments:after {
  background-image: url("https://s3-us-west-1.amazonaws.com/cdn.webapps/rsvponline/images/rsvp_sprite-23.05.2018.png");
  background-repeat: no-repeat; 
}

.navbar {
  border-bottom: 4px solid #6fcac1;
}

.mainmenu{
  position:absolute;
}


.logo {
  width: 156px;
  height: 41px;
  margin-top: 0px;
  display: inline-block;
  vertical-align: middle;
  background-position-x: 0px;
  background-position-y: -3px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  margin-left: 5px;
  top: 50%;
  margin-top: -21px;
}

.text-input-md {
  margin:0;
}

.menu{    
  outline: none;
  display: inline-block;
  margin-right: 0;
  margin-left: 0px;
  padding: 13px 5px;
  float: right;
  animation: fadeIn 2s;
}

.menu span {
  display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #6fcac1;
    font-weight: 900;
}

.ico {
  background-image: url("https://s3-us-west-1.amazonaws.com/cdn.webapps/rsvponline/images/rsvp_sprite-23.05.2018.png");
  background-repeat: no-repeat;
  margin-left: 5px;
  width: 27px;
  height: 24px;
  vertical-align: middle;
  background-position-x: -3px;
  background-position-y: -53px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;

}

.header-md::after{
  background-image: none;
}

.tabsPositon {
  top:80px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}